.articles-section {
  background-color: #fafafa;
  max-width: 95vw;
  padding: 30px 10%;
}

.article-title-main {
  font-size: 3rem;
  text-align: left;
  padding-top: 50px;
  padding-bottom: 40px;
}

@media screen and (max-width: 767px) {
  .article-title-main {
    text-align: center;
  }
}

.articles-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .articles-list {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}

.article-card {
  background-color: white;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 450px;
  border-radius: 10px 10px 0 0;
}

.article-image img {
  height: 250px;
  width: 300px;
  border-radius: 10px 10px 0 0;
}

.article-author {
  font-size: 0.8rem;
  text-align: left;
  padding-left: 10%;
  color: #b0afb2;
}

.article-title {
  font-size: 1.4rem;
  padding-left: 10%;
  padding-right: 10%;
  text-align: left;
}
.article-title a {
  text-decoration: none;
  color: black;
}

.article-title a:hover {
  color: #31d165;
}

.article-info {
  font-size: 1rem;
  text-align: left;
  padding-left: 10%;
  padding-right: 10%;
  color: #b0afb2;
}
