.main-section {
  display: flex;
  flex-direction: row;
  max-width: 100vw;
  background-color: #fafafa;
  margin-bottom: -100px;
  padding-left: 10%;
}

@media screen and (min-width: 768px) {
  .main-section {
    height: 800px;
  }
}

@media screen and (max-width: 767px) {
  .main-section {
    flex-direction: column-reverse;
    margin-bottom: 0;
    padding-bottom: 40px;
  }
}

.left-column {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}

@media screen and (max-width: 767px) {
  .left-column {
    width: 100%;
    align-items: center;
  }
}

.main-title {
  font-size: 4rem;
  text-align: left;
}

@media screen and (max-width: 767px) {
  .main-title {
    text-align: center;
  }
}

.main-subtitle {
  font-size: 1.3rem;
  color: #95969b;
  text-align: left;
}

@media screen and (max-width: 767px) {
  .main-subtitle {
    text-align: center;
    padding: 0 10%;
  }
}

.main-button {
  display: flex;
  justify-content: start;
}

.right-column {
  width: 60%;
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .right-column {
    width: 100%;
    max-height: 420px;
  }
}

.overlapping-image {
  width: 100px;
  height: 600px;
}

.overlapping-image img {
  display: block;
  margin: auto;
  position: relative;
  top: -40%;
}

@media screen and (max-width: 767px) {
  .overlapping-image img {
    display: block;
    margin: auto;
    position: relative;
    transform: translate(-25%, -55%);
  }
}

.overlapping-image {
  height: 600px;
}

@media screen and (max-width: 767px) {
  .overlapping-image {
    height: 0;
  }
}

.overlapping-phone-image {
  display: block;
  margin: auto;
  position: relative;
  top: -90%;
  left: 20%;
}

@media screen and (max-width: 767px) {
  .overlapping-phone-image img {
    max-height: 500px;
    position: relative;
    transform: translate(-25%, -15%);
  }
}

@media screen and (max-width: 767px) {
  .overlapping-phone-image {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
