.sales-section {
  background-color: hsl(0, 0%, 98%);
  max-width: 95vw;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 50px 10%;
}

.sales-section-title {
  font-size: 2.5rem;
  text-align: left;
}

.sales-subtitle {
  font-size: 1.3rem;
  color: #95969b;
  padding-bottom: 40px;
  text-align: left;
  max-width: 45%;
}

.sales-card {
  width: 300px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.sales-list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  overflow: scroll;
}

.sales-icon {
  display: flex;
  justify-content: flex-start;
}

.sales-title {
  display: flex;
  justify-content: flex-start;
  font-size: 1.5rem;
  font-weight: 400;
}

.sales-text {
  font-size: 18px;
  color: #95969b;
  display: flex;
  justify-content: flex-start;
  text-align: left;
  line-height: 1.6rem;
  max-width: 300px;
  width: 90%;
}

@media screen and (max-width: 767px) {
  .sales-section-title {
    text-align: center;
  }

  .sales-subtitle {
    text-align: center;
    max-width: none;
  }

  .sales-list {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .sales-icon {
    justify-content: center;
  }

  .sales-title {
    justify-content: center;
  }

  .sales-text {
    text-align: center;
  }
}
