.top-navigation {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .top-navigation {
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    position: fixed;
    z-index: 1;
    background-color: white;
    width: 90%;
    height: auto;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5%;
  }
}

.link {
  padding: 10px;
  margin-right: 20px;
  position: relative;
  cursor: pointer;
  color: #abacb0;
}

.link:hover {
  color: black;
}

.link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #31d165, #2dbad7);
  visibility: hidden;
  transform: scaleX(0);
}

.link:hover::before {
  visibility: visible;
  transform: scaleX(1);
}
