.nav-items{
    color: red;
    font-size: 12px;
}

.nav-bar{
    display: flex;
    justify-content: center;
    gap: 15px;
    font-weight: 300;
}

.benefits-section{
    background-color: hsl(220, 16%, 96%);
}

.benefits-container{
    display: flex;
}

.benefits{
    margin: 10px;
    padding: 10px;
}

.benefits-heading{
    color: hsl(233, 26%, 24%)
}

.benefits-text{
    color: hsl(233, 8%, 62%)
}

.article-section{
background-color: hsl(0, 0%, 98%)
}

.article-container{
    display: flex;
}

.article{
    background-color: hsl(0, 0%, 100%);
    margin: 10px;
    padding: 10px;
}

.article-author{
    color: hsl(233, 8%, 62%)
}

.article-title{
    color: hsl(233, 26%, 24%)
}

.article-text{
    color: hsl(233, 8%, 62%)
}

.footer-bar{
    background-color: hsl(233, 26%, 24%)
}

.footer-items{
    color: hsl(0, 0%, 98%);
    font-size: 12px;
    font-weight: 300;
}